$theme-font-family: DM Sans;

.h1 {
  font-family: $theme-font-family;
  font-size: 54px !important;
  font-weight: 700 !important;
}
.h2 {
  font-family: $theme-font-family;
  font-size: 42px !important;
  font-weight: 500 !important;
}

.h3 {
  font-family: $theme-font-family;
  font-size: 32px !important;
  font-weight: 700 !important;
}

.h4 {
  font-family: $theme-font-family;
  font-size: 24px !important;
  font-weight: 700 !important;
}

.h5 {
  font-family: $theme-font-family;
  font-size: 18px !important;
  font-weight: 700 !important;
}

.para-xl--light {
  font-family: $theme-font-family;
  font-size: 16px !important;
  font-weight: 200 !important;
}
.para-xl {
  font-family: $theme-font-family;
  font-size: 16px !important;
  font-weight: 500 !important;
}
.para-xl--bold {
  font-family: $theme-font-family;
  font-size: 16px !important;
  font-weight: 700 !important;
}
.para-md--light {
  font-family: $theme-font-family;
  font-size: 14px !important;
  font-weight: 200 !important;
}
.para-md {
  font-family: $theme-font-family;
  font-size: 14px !important;
  font-weight: 500 !important;
}
.para-md--bold {
  font-family: $theme-font-family;
  font-size: 14px !important;
  font-weight: 700 !important;
}
.para-sm--light {
  font-family: $theme-font-family;
  font-size: 12px !important;
  font-weight: 200 !important;
}
.para-sm {
  font-family: $theme-font-family;
  font-size: 12px !important;
  font-weight: 500 !important;
}
.para-sm--bold {
  font-family: $theme-font-family;
  font-size: 12px !important;
  font-weight: 700 !important;
}
.para-xs--light {
  font-family: $theme-font-family;
  font-size: 10px !important;
  font-weight: 200 !important;
}
.para-xs {
  font-family: $theme-font-family;
  font-size: 10px !important;
  font-weight: 500 !important;
}
.para-xs--bold {
  font-family: $theme-font-family;
  font-size: 10px !important;
  font-weight: 700 !important;
}




